<a href="https://colab.research.google.com/github/Gilmaralexandre/Projeto-ETL/blob/main/Python_ETL_Gilmar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importação das bibliotecas
import pandas as pd 
import pandera as pa

In [ ]:
#utilizando o pandas para ler o csv, e visualizar o dataframe
#parse_dates para tratar datas
df = pd.read_csv('ocorrencia.csv', sep = ";",parse_dates=['ocorrencia_dia'], dayfirst=True)
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,****,2021-08-18,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0

In [ ]:
#propriedade que mostra os tipo de dados
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

#mostra somente a coluna do dataframe
df.ocorrencia_dia

pip install pandera

In [ ]:
#com a importação do pandera, da pra utilizar o metodo dataframeshema para definir a coluna como data
#caso aconteça alguma inserção de dado diferente, a continuação do codigo é cessado, e o erro é informado
#coluna ocorrencia dia foi utilizado uma expressão regular('pesquisar depois')
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_uf":pa.Column(pa.String),
        "ocorrencia_aerodromo":pa.Column(pa.String),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes":pa.Column(pa.Int)
    })

In [ ]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,****,2021-08-18,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0

In [ ]:
#localizando items
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [ ]:
#Retornando valores de uma linha
df.loc[3]

codigo_ocorrencia                         39527
codigo_ocorrencia2                        39527
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade            LUCAS DO RIO VERDE
ocorrencia_uf                                MT
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-04 00:00:00
ocorrencia_hora                        17:30:00
total_recomendacoes                           0
Name: 3, dtype: object

In [ ]:
#Retornando valores de varias linhas
df.loc[1:5]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
5,39807,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06,17:53:00,0

In [ ]:
#Retornando linhas especificas(passa os valores em uma lista)
df.loc[[11,31]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8
31,39323,39323,ACIDENTE,CASIMIRO DE ABREU,RJ,****,2010-01-24,16:15:00,0

In [ ]:
#Retorna a coluna
df.loc[:,'codigo_ocorrencia2']

0       40211
1       40349
2       40351
3       39527
4       40324
        ...
6109    80245
6110    80247
6111    80251
6112    80257
6113    80259
Name: codigo_ocorrencia2, Length: 6114, dtype: int64

In [ ]:
#Verifica se coluna possui valores unicos
#df.ocorrencia_uf.is_unique
df.codigo_ocorrencia.is_unique

True

In [ ]:
#Definindo codigo_ocorrencia como indice e alterando no csv original
df.set_index('codigo_ocorrencia', inplace=True)

In [ ]:
df.head(5)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [ ]:
#Retornando para configuração inicial
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head(5)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [ ]:
#alterando valores de uma coluna
df.loc[:,'ocorrencia_classificacao'] = 'Acidente'

In [ ]:
df.head(3)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,Acidente,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0

In [ ]:
#Alterando valores de uma celula
df.loc[0,'ocorrencia_aerodromo'] = 0

In [ ]:
df.head(3)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0

In [ ]:
#Clonando uma coluna para deixar uma copia de segurança
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [ ]:
df.head(3)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0,RJ
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ

In [ ]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'Grave'

In [ ]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
11,40069,Grave,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8,SP
16,39809,Grave,SÃO PAULO,SP,****,2010-01-15,15:00:00,0,SP
18,39828,Grave,SANTOS,SP,****,2010-01-15,17:45:00,0,SP
26,39847,Grave,SOROCABA,SP,****,2010-01-20,13:10:00,0,SP
27,39768,Grave,CAMPINAS,SP,****,2010-01-21,20:45:00,0,SP
...,...,...,...,...,...,...,...,...,...
6084,80234,Grave,SÃO PAULO,SP,SBSP,2021-07-26,13:20:00,0,SP
6085,80208,Grave,SÃO PAULO,SP,SBMT,2021-07-27,19:45:00,0,SP
6104,80238,Grave,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0,SP
6108,80244,Grave,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15,15:20:00,0,SP
6113,80259,Grave,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,SP

In [ ]:
#tratando valores não informados e deixando eles com NA(not avaliable)
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [ ]:
df.head(10)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0,RJ
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ
3,39527,Acidente,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0,MT
4,40324,Acidente,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,RS
5,39807,Acidente,SALVADOR,BA,<NA>,2010-01-06,17:53:00,0,BA
6,40215,Acidente,COARI,AM,SBUY,2010-01-07,18:40:00,0,AM
7,39707,Acidente,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3,AM
8,39156,Acidente,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2,PR
9,39711,Acidente,PARÁ DE MINAS,MG,<NA>,2010-01-10,20:00:00,0,MG

In [ ]:
df.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True )

C:\Users\gilma\anaconda3\lib\site-packages\pandas\core\missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
C:\Users\gilma\anaconda3\lib\site-packages\pandas\core\missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [ ]:
df.head(5)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0,RJ
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ
3,39527,Acidente,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0,MT
4,40324,Acidente,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,RS

In [ ]:
df.tail()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
6109,80245,Acidente,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,PE
6110,80247,Acidente,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,RO
6111,80251,Acidente,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,PA
6112,80257,Acidente,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0,MT
6113,80259,Grave,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,SP

In [ ]:
#usando a função do pandas isna, junto com a função sum
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2271
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              0
dtype: int64

In [ ]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2271
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              0
dtype: int64

In [ ]:
#Inserindo 0 nos valores na
df.fillna(0, inplace=True)

In [ ]:
df.tail()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
6109,80245,Acidente,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,PE
6110,80247,Acidente,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,RO
6111,80251,Acidente,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,PA
6112,80257,Acidente,DOM AQUINO,MT,0,2021-08-18,16:00:00,0,MT
6113,80259,Grave,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,SP

In [ ]:
df.isnull().sum()

codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
ocorrencia_uf_bkp           0
dtype: int64

In [ ]:
#Executa o valor do dicionario na coluna mencionada
#df.fillna(value{'total_recomendacoes':1})

In [ ]:
#Apagando uma coluna
df.drop(['total_recomendacoes'], axis=1)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,ocorrencia_uf_bkp
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,RJ
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,PA
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,RJ
3,39527,Acidente,LUCAS DO RIO VERDE,MT,0,2010-01-04,17:30:00,MT
4,40324,Acidente,PELOTAS,RS,SBPK,2010-01-05,19:25:00,RS
...,...,...,...,...,...,...,...,...
6109,80245,Acidente,RECIFE,PE,SBRF,2021-08-15,15:05:00,PE
6110,80247,Acidente,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,RO
6111,80251,Acidente,BELÉM,PA,SBBE,2021-08-17,15:45:00,PA
6112,80257,Acidente,DOM AQUINO,MT,0,2021-08-18,16:00:00,MT
6113,80259,Grave,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,SP

In [ ]:
#Apagaria valores nulos
df.dropna()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0,RJ
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ
3,39527,Acidente,LUCAS DO RIO VERDE,MT,0,2010-01-04,17:30:00,0,MT
4,40324,Acidente,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,RS
...,...,...,...,...,...,...,...,...,...
6109,80245,Acidente,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,PE
6110,80247,Acidente,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,RO
6111,80251,Acidente,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,PA
6112,80257,Acidente,DOM AQUINO,MT,0,2021-08-18,16:00:00,0,MT
6113,80259,Grave,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,SP

In [ ]:
df.dropna(subset=['ocorrencia_uf'])

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0,RJ
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ
3,39527,Acidente,LUCAS DO RIO VERDE,MT,0,2010-01-04,17:30:00,0,MT
4,40324,Acidente,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,RS
...,...,...,...,...,...,...,...,...,...
6109,80245,Acidente,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,PE
6110,80247,Acidente,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,RO
6111,80251,Acidente,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,PA
6112,80257,Acidente,DOM AQUINO,MT,0,2021-08-18,16:00:00,0,MT
6113,80259,Grave,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,SP

In [ ]:
df.drop_duplicates()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0,RJ
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ
3,39527,Acidente,LUCAS DO RIO VERDE,MT,0,2010-01-04,17:30:00,0,MT
4,40324,Acidente,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,RS
...,...,...,...,...,...,...,...,...,...
6109,80245,Acidente,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,PE
6110,80247,Acidente,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,RO
6111,80251,Acidente,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,PA
6112,80257,Acidente,DOM AQUINO,MT,0,2021-08-18,16:00:00,0,MT
6113,80259,Grave,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,SP

In [ ]:
df.dtypes

codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
ocorrencia_uf_bkp                   object
dtype: object

In [ ]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,Acidente,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0,RJ
1,40349,Acidente,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,Acidente,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ
3,39527,Acidente,LUCAS DO RIO VERDE,MT,0,2010-01-04,17:30:00,0,MT
4,40324,Acidente,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,RS
...,...,...,...,...,...,...,...,...,...
6109,80245,Acidente,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,PE
6110,80247,Acidente,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,RO
6111,80251,Acidente,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,PA
6112,80257,Acidente,DOM AQUINO,MT,0,2021-08-18,16:00:00,0,MT
6113,80259,Grave,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,SP